html {
	background-color: white; 
}

body {
	background-color: #ede6e6; 
	margin: 0 auto;
	width: 960 px;
	font-family: arial, helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #373535;
}

header {
	height: 150 px;
	padding-top: 40 px;
}

ul {
	padding: 0;
}

li {
	display: inline;
	padding: 10 px;
	font-size: 10 px;
}

header li:first-child {
	border-right: 1px solid #373535;
}

.left {
	width: 320px;
	float: left;
}

.left ul {
	padding-left: 30px;
	padding-top: 90px;

}

.right {
	width: 320px;
	float: right;
}

.right ul {
	float: right;
	padding-right: 30px;
	padding-top: 90px;
}

#logo {
	width: 320px;
	float: left;
	text-align: center;
	color: #b46363;
	font-size: 36px;
}

#logo p {
	margin: 0; 
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

#main {
	background-image: url('images/dishes.jpg');
	
}
box {

}